/* 全局样式变量 */
$uni-color-primary: #2b85e4;
$uni-color-success: #19be6b;
$uni-color-warning: #ff9900;
$uni-color-error: #fa3534;
$uni-text-color: #333333;
$uni-text-color-grey: #999999;
$uni-bg-color: #f5f6f7;
